nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-right: 20px;
}

nav a:hover {
  cursor: pointer;
  color: #ef5b6b;
}

header a {
  color: white;
  text-decoration: none;
}

.jumbo-img {
  width: 100%;
  height: 700px;
  border-radius: 20%;
  padding: 30px;
}

.jumbo-bg {
  background-image: url('../src/assets/jumbo.jpg');
  background-size: cover;
}

.jumbo-title {
  color: #8ec740;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
  padding-top: 100px;
}

.jumbo-title2 {
  color: #8ed9f8;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
}

.bg-jumbo-title {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30px 30px 30px 30px;
}

.course-card-header {
  background-color: #004782;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
}

.course-card-body {
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 2px solid #004782;
  padding-left: 20px;
}

.card-link {
  text-decoration: none;
}

.category {
  color: black;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.details-list li {
  width: 25%;
  margin-top: 30px;
}

.details-list li span {
  color: #767676;
  font-style: italic;
}

.course-title {
  text-align: center;
  padding: 70px;
  font-size: 3rem;
  font-weight: bold;
}

.course-description {
  text-align: center;
  font-size: 1.8rem;
  font-style: italic;
  color: #00427D;
}

.logo {
  height: 100px;
}

.social-icons {
  font-size: 2rem;
  color: #8ed9f8;
}

.footer-description {
  color: #8ed9f8;
  font-size: 2rem;
}

/* utility */
.bg-blue {
  background-color: #004782;
}

.bg-lg-blue {
  background-color: #8ed9f8;
}