nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-right: 20px;
}

nav a:hover {
  cursor: pointer;
  color: #ef5b6b;
}

header a {
  color: white;
  text-decoration: none;
}

.jumbo-img{
  width: 100%;
  height: 700px;
  border-radius: 20%;
  padding: 30px;
}

.jumbo-bg{
  background-image: url('../src/assets/jumbo.jpg');
  background-size: cover;
}

.jumbo-title{
  color:#8ec740;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
  padding-top: 100px;
}
.jumbo-title2{
  color:#8ed9f8;
  padding-bottom: 100px;
  text-align: center;
  font-size: 3rem;
}
.bg-jumbo-title{
  background-color: rgba(0,0,0,0.5);
  border-radius: 30px 30px 30px 30px;
}

.course-card-header{
  background-color: #00427D;
  color: white;
  padding: 10px;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
}

.course-card-body{
  background-color: white;
  border-radius: 0 0 10px 10px;
  border: 2px solid #00427D;
  padding-left: 20px;
}






/* utility */
.bg-blue {
  background-color: #00427D;
}

.bg-lg-blue {
  background-color: #8ed9f8;
}